﻿body {
    font-family: Trebuchet MS;    
    font-size: 14px;
    background:#efefef;
}

h1
{
    padding: 0 0 0 10px;
    margin:0;
}

#log-area
{    
    position: absolute;
    top: 55px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    min-height: 200px;
    background:#fff;
}

#logs
{
    width: 80%;
    border: 1px solid #ccc;
    overflow: auto;
    margin-left: 0px;
    padding-left: 0px;
    position: absolute;
    top: 0;
    bottom: 0;
}

#logList
{    
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:auto;
}

#logList li
{
    padding:10px;
    border-bottom: 1px solid #efefef;    
    overflow:auto;
    clear:both;
}

#logList li:hover
{
    background-color:#ffff99;
}

#logList li .title
{
    float:left;
}

#logList li .date
{
    float:right;   
}

#logList li .message
{
    clear:both;
    padding:3px 0 0 0;
}

#logList li.empty
{
    text-align:center;
    color:#BBB;
    border:0;
}

#logList li.empty:hover
{
    background-color:#fff;
}

#info 
{
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-left: 0px;
    padding-left: 0px;
    overflow: auto;
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 80%;
    width: 20%;
    bottom: 0;
    margin-left: 2px; /* for #messages border */
}

#info h3
{
    padding:10px;
    margin:0;
}

#filter-options
{
    padding:0 10px 10px 10px;
    list-style-type:none;
    margin:0;
}

#filter-options li
{
    padding-bottom:2px;
    clear:both;
    overflow:hidden;
}

#filter-options li input
{
    display:block;
    float:left;
}

#filter-options li .label
{
    float:left;
    margin:2px 0 0 3px;
}

#info p
{
    margin:0 10px;    
    white-space: normal;
}

.quiet
{
    color:#666;
}

.label 
{
    padding:  1px 3px 1px 3px;
    font-size: 10px;
    color: white;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: #BFBFBF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.trace
{
    background-color: #46A546;    
}

.error
{
    background-color: #C43C35;    
}

.fatal
{
    background-color: #000;   
}

.warning
{
    background-color: #F89406;    
}

.info
{
    background-color: #62CFFC;  
}